div {
  display: block;
}

.service {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.4;
  position: relative;
  font-size: 13px;
  height: 815px;
  width: 350px;
  display: inline-block;
  border: 1px solid #e3e3e3;
}


.looks {
  text-align: center;
  width: 100%;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}

button {
  top: 32px;
  right: -20px
}

.column {
  padding: 0 15px;
  box-sizing: border-box;
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
}

.card {
  position: relative;
}

.productimg {
  border: 0;
  vertical-align: middle;
  height: 150px;
  width: 80px;
}

.likeShare {
  margin-top: 13px;
}

.likeIcon .shareIcon {
  margin-right: 15px;
  height: 24px;
  width: 24px;
  display: inline-block;
}